{%- extends 'base.html' %}
{%- block content %}
    <h3>Productions for {{ db_url }}</h3>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>Name</th>
        </thead>
        <tbody>
            {%- for production in productions %}
            <tr>
                <td>{{ production[0].id }}</td>
                <td><a href="{{ url_for('table', level='production', element_id=production[0].id) }}">{{ production[0].name }}</a></td>
            </tr>
            {%- endfor %}
	</tbody>
    </table>
    {%- endblock %}

{%- block content2 %}
<div>
<h3>functions</h3>
<form method="post">
<input type="submit" value="insert_production" name="insert">
  </form>
</div>
{%- endblock %}
