{%- extends 'base.html' %}
{%- block content %}
    <h5>Productions for {{ db_url }}</h5>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>Name</th>
        </thead>
        <tbody>
            {%- for production in productions %}
            <tr>
                <td>{{ production[0].id }}</td>
                <td><a href="{{ url_for('table', level='production', element_id=production[0].id) }}">{{ production[0].name }}</a></td>
            </tr>
            {%- endfor %}
	</tbody>
    </table>
    {%- endblock %}

{%- block function_bar %}
<img src="/static/Productions.png" height="100px">
<h5>CM Database: '{{ db_url  }}'</h5>
<hr>
<h5>functions</h5>
<form method="post">
    {% for action_ in actions %}
    <input type="submit" value="{{ action_ }}" name="action">
    {% endfor %}
</form>
{%- endblock %}
