{%- extends 'base.html' %}
{%- block content %}
    <h3>Error types for {{ db_url }}</h3>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
	    <th>Name</th>
	    <th>Panda Error Code</th>
	    <th>Diag. Message</th>
	    <th>Flavor</th>
	    <th>Action</th>
	    <th>Resolved</th>
	    <th>Rescuable</th>
        </thead>
        <tbody>
            {%- for error_type in error_types %}
            <tr>
                <td>{{ error_type[0].id }}</td>
                <td><a href="{{ url_for('error_type', error_id=error_type[0].id) }}">{{ error_type[0].error_name }}</a></td>
		<td>{{ error_type[0].panda_err_code }}</td>
		<td>{{ error_type[0].diagnostic_message }}</td>
                <td>{{ error_type[0].error_flavor.name }}</td>
		<td>{{ error_type[0].action.name }}</td>
		<td>{{ error_type[0].is_resolved }}</td>
                <td>{{ error_type[0].is_rescueable }}</td>
            </tr>
            {%- endfor %}
        </tbody>
    </table>
{%- endblock %}

{%- block function_bar %}
<img src="/static/Errors.png" height="100px">
<h3>functions</h3>

<form method="post">
    {% for action_ in actions %}
    <input type="submit" value="{{ action_ }}" name="action">
    {% endfor %}
</form>
<hr>
{%- endblock %}
