{%- extends 'base.html' %}
{%- block function_bar %}
    <h3>Configuration fragments for {{ config.name }}</h3>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
	    <th>Yaml Tag</th>
	    <th>Handler</th>
	    <th>Data</th>
        </thead>
        <tbody>
            {%- for fragment in fragments %}
            <tr>
                <td>{{ fragment.id }}</td>
		<td>{{ fragment.tag }}</td>
                <td>{{ fragment.handler }}</td>
                <td>{{ fragment.data }}</td>
            </tr>
            {%- endfor %}
        </tbody>
    </table>
{%- endblock %}
