{% import 'element_macro.html' as element_macro %}
{% import 'status_macro.html' as status_macro %}

{%- extends 'base.html' %}
{%- block content %}
    <h3>{{ element.level.name }} {{ element.fullname }} {{
status_macro. render_status_enum(element.status) }}</h3>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
	    <th>Name</th>
	    <th>Children</th>
	    <th>Jobs</th>
	    <th>Scipts</th>
	    <th>Status</th>
	    <th>Errors</th>
        </thead>
	  <tbody>
	  {%- for child in children %}
	  {{ element_macro.render_row(child) }}
	  {%- endfor %}
	    <tr>
	      <td colspan=7>
		<form method="post">
	        <input type="submit" value="insert" name="insert">
		  </form>
		<form method="post">
		<input type="submit" value="check" name="check">
		</form>

	      </td>
	    </tr>
	  </tbody>
    </table>
{%- endblock %}
