{% import 'status_macro.html' as status_macro %}

{% macro render_element(element, attr_list) %}
<div class="element_table">
  <table>
    <thead>
      <tr>
	<th>Field</th>
	<th>Value</th>
      </tr>
    </thead>
    <tbody>
      {%- for attr in attr_list %}
      <tr>
	<td><a href="{{ url_for('update_values',
	  level=element.level.name, element_id=element.id, field=attr) }}">{{ attr }}</a></td>
	<td>{{ get_attribute(element, attr) }}</td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
</div>
{% endmacro %}


{% macro render_row(element) %}
<div class="element_row">
  <tr>
    <td><a href="{{ url_for('details', level=element.level.name,
      element_id=element.id) }}">{{ element.id }}</a></td>
     <td><a href="{{ url_for('table', level=element.level.name,
      element_id=element.id) }}">{{ element.name }}</a></td>
    <td>{{ status_macro.render_child_count( element.level.name,
      element.id, child_status_tuple(element) ) }}</td>
    <td>{{ status_macro.render_jobs_count( element.level.name,
      element.id, count_jobs(element.jobs_) ) }}</td>
    <td>
      {{ status_macro.render_script_count ( element.level.name,
      element.id, count_scripts ( element.scripts_
      ) ) }}</td>
    <td>{{ status_macro.render_status_enum(element.status) }}</td>
    <td>
      <a href="{{ url_for('errors', level=element.level.name, element_id=element.id) }}">{{ count_errors(element) }} </a>
    </td>
  </tr>
</div>
{% endmacro %}


{% macro render_error(error, attr_list) %}
<div class="error_table">
  <table>
    <thead>
      <tr>
	<th>Field</th>
	<th>Value</th>
      </tr>
    </thead>
    <tbody>
      {%- for attr in attr_list %}
      <tr>
	<td>{{ attr }}</td>
	<td>{{ get_attribute(error, attr) }}</td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
</div>
{% endmacro %}
