{%- extends 'base.html' %}
{%- block content %}
    <h3>Error Type {{ error_type.error_name }}</h3>
    <table class="table table-striped">
        <thead>
            <th>Field</th>
	    <th>Value</th>
        </thead>
        <tbody>
	     <tr>
	        <td>id</td>
		<td>{{ error_type.id }}</td>
	      </tr>
	     <tr>
	        <td>panda_err_code</td>
		<td>{{ error_type.panda_err_code }}</td>
	      </tr>
	     <tr>
	        <td>diagnostic_message</td>
		<td>{{ error_type.diagnostic_message }}</td>
	      </tr>
	     <tr>
	        <td>jira_ticket</td>
		<td>{{ error_type.jira_ticket }}</td>
	      </tr>
	     <tr>
	        <td>pipetask</td>
		<td>{{ error_type.pipetask }}</td>
	      </tr>
	     <tr>
	        <td>is_resolved</td>
		<td>{{ error_type.is_resolved }}</td>
	      </tr>
	     <tr>
	        <td>is_rescueable</td>
		<td>{{ error_type.is_rescueable }}</td>
	      </tr>
	     <tr>
	        <td>error_flavor</td>
		<td>{{ error_type.error_flavor }}</td>
	      </tr>
	     <tr>
	        <td>action</td>
		<td>{{ error_type.action }}</td>
	      </tr>
	     <tr>
	        <td>max_intensity</td>
		<td>{{ error_type.max_intensity }}</td>
	      </tr>
        </tbody>
    </table>
{%- endblock %}
