{%- extends 'base.html' %}
{% import 'element_macro.html' as element_macro %}

{%- block function_bar %}
    {%- if element %}
    <h3>Error summary for {{ element_macro.render_name(element) }}</h3>
    {%- endif %}
    {%- if job %}
    <h3>Error summary for job {{ job.w_.fullname }}:{{ job.name }}_{{
job.idx }}</h3>
    {%- endif %}
{% endblock %}

{%- block content %}
<h4>Known Errors</h4>
    <table class="table table-striped">
        <thead>
	<th>Name</th>
	<th>Diagnostic Message</th>
	<th>Count</th>
        </thead>
        <tbody>
	  {%- for error_name, error_count in error_count.items() %}
	  <tr>
	    <td>
	      <a href="{{ url_for('error_type', error_id=error_dict[error_name][0]) }}">
	      {{ error_name }}
	      </a>
	    </td>
	    <td>
	      {{ error_dict[error_name][1] }}
	    </td>
	    <td>
	      {% if element %}
	      <a href="{{ url_for('filtered_error_list',
	      level=element.level.name, element_id=element.id, error_type=error_dict[error_name][0]) }}">
	      {{ error_count }}</a>
	      {% elif job %}
	      <a href="{{ url_for('filtered_job_error_list',
	      job_id=job.id, error_type=error_dict[error_name][0]) }}">
	      {{ error_count }}</a>
	      {%  else %}
	      {{ error_count }}
	      {% endif %}
	    </td>
	  </tr>
	  {%- endfor %}
        </tbody>
      </table>

      <h4>New Errors</h4>
      <table class="table table-striped">
        <thead>
	    <th>Job</th>
	    <th>Message</th>
        </thead>
        <tbody>
	  {%- for error_ in error_list %}
	  <tr>
	    <td>{{ error_.job_.w_.fullname }}:{{ error_.job_.name}}_{{ error_.job_.idx }}</td>
	    <td>
	      <a href="{{ url_for('insert_error_as_type', error_id=error_.id)}}">
	      {{ error_.diagnostic_message }}</a></td>
	  </tr>
	  {%- endfor %}
        </tbody>
      </table>

{%- endblock %}
