{%- extends 'base.html' %}
{%- block function_bar %}
    <h3>Trend for ErrorType {{ error_type_id }} by {{ level }}</h3>
    <table class="table table-striped">
        <thead>
	    <th>{{ level }}</th>
	    <th>Count</th>
        </thead>
        <tbody>
            {%- for (key, id), val in trend_dict.items() %}
            <tr>
	      <td>{{ key }}</td>
	      <td><a href="{{ url_for('filtered_error_list',
		level=level, element_id=id, error_type=error_type_id) }}">{{ val }}</a></td>
            </tr>
            {%- endfor %}
        </tbody>
    </table>
{%- endblock %}
