{% extends 'base.html' %}

{% block content %}
<h3>{% block title %} Load configuration into {{ db_url }}{% endblock %}
</h3>

<form method="post">
    <div class="form-group">
        <label for="config_name">Config Name</label>
        <textarea name="config_name" class="form-control">{{ request.form['config_name'] }}</textarea>
    </div>
    <div class="form-group">
        <label for="config_yaml">Config Yaml</label>
        <textarea name="config_yaml" class="form-control">{{ request.form['config_yaml'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}
