{%- extends 'base.html' %}
{%- block function_bar %}
    <h3>Script Details</h3>
{%- endblock %}
{%- block content %}
    <table class="table table-striped">
        <thead>
            <th>Field</th>
	    <th>Value</th>
        </thead>
        <tbody>
	     <tr>
	        <td>id</td>
		<td>{{ script.id }}</td>
	      </tr>
	     <tr>
	        <td>fragment_id</td>
		<td>{{ script.frag_id }}</td>
            </tr>
	     <tr>
	        <td>name</td>
		<td>{{ script.name }}</td>
            </tr>
	     <tr>
	        <td>idx</td>
		<td>{{ script.idx }}</td>
            </tr>
	     <tr>
	        <td>script_url</td>
		<td><a href="{{ url_for("production_file",
		  path=script.script_url) }}">{{ script.script_url }}</a></td>
            </tr>
	     <tr>
	        <td>stamp_url</td>
		<td>{{ script.stamp_url }}</td>
	      </tr>
	    <tr>
	      <td>log_url</td>
		<td><a href="{{ url_for("production_file",
		  path=script.log_url) }}">
		  {{ script.log_url }}</a></td>
	     <tr>
	        <td>batch_status</td>
		<td>{{ script.batch_status }}</td>
            </tr>
        </tbody>
    </table>
{%- endblock %}
