{% macro render_status_enum(status_enum) %}
<div class="status_enum">
  {% if status_enum.name in ['failed', 'rejected'] %}
      <font color="red">{{ status_enum.name }}</font>
  {% elif status_enum.name in ['waiting'] %}
      <font color="gray">{{ status_enum.name }}</font>
  {% elif status_enum.name in ['preparing', 'prepared', 'populating',
  'running', 'collectable', 'collecting', 'completed', 'validating'] %}
      <font color="black">{{ status_enum.name }}</font>
  {% elif status_enum.name in ['reviewable'] %}
      <font color="yellow">{{ status_enum.name }}</font>
  {% elif status_enum.name in ['accepted'] %}
      <font color="green">{{ status_enum.name }}</font>
  {% elif status_enum.name in ['rescuable'] %}
      <font color="blue">{{ status_enum.name }}</font>
  {% endif %}
</div>
{% endmacro %}


{% macro render_jobs_count(level, element_id, status_tuple) %}
<div class="jobs_count">
  <a href="{{ url_for('jobs_filtered', level=level, element_id=element_id, status='None') }}"><font color="black">{{ status_tuple[0] }}</font></a> /
  <a href="{{ url_for('jobs_filtered',
  level=level,element_id=element_id, status='is_not_yet_processing')
  }}"><font color="gray">{{ status_tuple[1] }}</font></a> /
  <a href="{{ url_for('jobs_filtered', level=level,
  element_id=element_id, status='is_now_processing') }}"><font color="blue">{{ status_tuple[2] }}</font></a> /
  <a href="{{ url_for('jobs_filtered', level=level,
  element_id=element_id, status='is_reviewable') }}"><font color="purple">{{ status_tuple[3] }}</font></a> /
  <a href="{{ url_for('jobs_filtered', level=level,
  element_id=element_id, status='is_accepted') }}"><font color="green">{{ status_tuple[4] }}</font></a> /
  <a href="{{ url_for('jobs_filtered', level=level,
  element_id=element_id, status='is_rescuable') }}"><font color="light green">{{ status_tuple[5] }}</font></a> /
  <a href="{{ url_for('jobs_filtered', level=level,
  element_id=element_id, status='is_bad') }}"><font color="red">{{ status_tuple[6] }}</font></a>
</div>
{% endmacro %}

{% macro render_child_count(level, element_id, status_tuple) %}
<div class="child_count">
  <a href="{{ url_for('jobs_filtered', level=level, element_id=element_id, status='None') }}"><font color="black">{{ status_tuple[0] }}</font></a> /
  <a href="{{ url_for('jobs_filtered',
  level=level,element_id=element_id, status='is_not_yet_processing')
  }}"><font color="gray">{{ status_tuple[1] }}</font></a> /
  <a href="{{ url_for('jobs_filtered', level=level,
  element_id=element_id, status='is_now_processing') }}"><font color="blue">{{ status_tuple[2] }}</font></a> /
  <a href="{{ url_for('jobs_filtered', level=level,
  element_id=element_id, status='is_reviewable') }}"><font color="purple">{{ status_tuple[3] }}</font></a> /
  <a href="{{ url_for('jobs_filtered', level=level,
  element_id=element_id, status='is_accepted') }}"><font color="green">{{ status_tuple[4] }}</font></a> /
  <a href="{{ url_for('jobs_filtered', level=level,
  element_id=element_id, status='is_rescuable') }}"><font color="light green">{{ status_tuple[5] }}</font></a> /
  <a href="{{ url_for('jobs_filtered', level=level,
  element_id=element_id, status='is_bad') }}"><font color="red">{{ status_tuple[6] }}</font></a>
</div>
{% endmacro %}

{% macro render_scripts(status_tuple) %}
<div class="script_count">
  <font color="black">{{ status_tuple[0] }}</font> /
  <font color="green">{{ status_tuple[1] }}</font> /
  <font color="red">{{ status_tuple[2] }}</font> /
  <font color="blue">{{ status_tuple[3] }}</font> /
  <font color="gray">{{ status_tuple[4] }}</font>
</div>
{% endmacro %}
