{%- extends 'base.html' %}
{% import 'status_macro.html' as status_macro %}
{% import 'script_macro.html' as script_macro %}
{% import 'element_macro.html' as element_macro %}

{%- block content %}
    <h5>Jobs</h5>
{{ element_macro.render_jobs(workflow.jobs_) }}

{%- endblock %}

{%- block function_bar %}
{{ element_macro.render_name(workflow) }}
<hr>
<h5>Status {{ status_macro.render_status_enum(workflow.status) }}</h5>
<hr>
<div>
<h5>functions</h5>
  <form method="post">
  {% for action_ in actions %}
  <input type="submit" value="{{ action_ }}" name="action">
  {% endfor %}
  </form>
  <hr>
  <h5>Scripts</h5>
  {{ script_macro.render_scripts(workflow, scripts) }}

</div>
{%- endblock %}


{%- block doc_block %}
    <div style="text-align: center;">
    <font color="black">All</font><br>
    <font color="gray">Preparing</font><br>
    <font color="blue">Processing</font><br>
    <font color="purple">Reviewable</font><br>
    <font color="green">Accepted</font><br>
    <font color="cyan">Rescuable</font><br>
    <font color="red">Failed</font><br>
    </div>
{%- endblock %}
