{%- extends 'base.html' %}
{% import 'status_macro.html' as status_macro %}
{%- block content %}
    <h3>Jobs for {{ workflow.fullname }}</h3>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
	    <th>Attempt</th>
	    <th>Status</th>
	    <th>Slurm</th>
	    <th>Panda</th>
        </thead>
        <tbody>
            {%- for job in jobs %}
            <tr>
                <td>{{ job.id }}</td>
                <td><a href="{{ url_for('job', job_id=job.id)
		  }}">{{ job.name }}_{{ job.idx }}</a></td>
		<td>{{ status_macro.render_status_enum(job.status)
		  }}</td>
		<td>{{ job.batch_status }}</td>
		<td><a
		  href="https://panda-doma.cern.ch/tasks/?idds_request_id={{
		  job.panda_url }}">{{ job.panda_url }}</a> {{ job.panda_status }}</td>
            </tr>
            {%- endfor %}
        </tbody>
    </table>
{%- endblock %}
